# list

In [5]:
lst = [1,"king", 111.1]

In [6]:
lst

[1, 'king', 111.1]

In [7]:
lst.append("Bahubali")

In [8]:
lst

[1, 'king', 111.1, 'Bahubali']

In [13]:
lst.index(1)

0

In [20]:
lst.index("Bahubali")

3

In [21]:
lst.insert(3,"Mahishmathi")

In [22]:
lst

[1, 'king', 111.1, 'Mahishmathi', 'Bahubali']

In [23]:
lst.reverse()

In [24]:
lst

['Bahubali', 'Mahishmathi', 111.1, 'king', 1]

# Dictionary

In [25]:
dict = {"First name":"Kishor", "Last name":"M P","Mob no":9876543210}

In [26]:
dict

{'First name': 'Kishor', 'Last name': 'M P', 'Mob no': 9876543210}

In [27]:
dict.keys()

dict_keys(['First name', 'Last name', 'Mob no'])

In [28]:
dict.values()

dict_values(['Kishor', 'M P', 9876543210])

In [29]:
dict.copy()

{'First name': 'Kishor', 'Last name': 'M P', 'Mob no': 9876543210}

In [30]:
dict2=dict.copy()

In [31]:
dict2

{'First name': 'Kishor', 'Last name': 'M P', 'Mob no': 9876543210}

In [32]:
dict.get("Mob no")

9876543210

In [33]:
dict.pop("Last name")

'M P'

In [34]:
dict

{'First name': 'Kishor', 'Mob no': 9876543210}

# Sets

In [35]:
st={11,12,51,23,91,"Numbers"}

In [36]:
st

{11, 12, 23, 51, 91, 'Numbers'}

In [37]:
st1={"Numbers",21,11}

In [39]:
st1

{11, 21, 'Numbers'}

In [41]:
st.add("odd")

In [42]:
st

{11, 12, 23, 51, 91, 'Numbers', 'odd'}

In [43]:
st1.intersection(st)

{11, 'Numbers', 'odd'}

In [44]:
st1.difference(st)

{21}

In [45]:
st.difference(st1)

{12, 23, 51, 91}

In [46]:
st1.issubset(st)

False

# Tuple

In [47]:
tup=("State","bank","of","India")

In [48]:
tup

('State', 'bank', 'of', 'India')

In [49]:
tup.count("of")

1

In [51]:
tup.index("India")

3

In [52]:
a = 10

In [53]:
b = 11

In [54]:
c = 12

In [55]:
d = a+b+c

In [56]:
d

33

In [59]:
str = "abc"

In [60]:
str

'abc'

In [61]:
str.count("abc")

1

In [62]:
str.capitalize()

'Abc'

In [66]:
str.casefold()

'abc'